*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 70px;
    padding: 0 25px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: rgb(224, 12, 12);
}

header nav{
    width: 60%;
}

header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
}

/* MAINS */

main{
    width: 100%;
    box-sizing: border-box;
}

#hero{
    width: 100%;
    margin: 0 auto;
    height: 550px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.heroText{
    width: 40%;
    box-sizing: border-box;
}

.heroText h2{
    width: 100%;
    font-size: 50px;
    color: rgb(61, 0, 0);
}

.heroText h2::after{
    position: relative;
    display:  block;
    content: "";
    width: 60%;
    height: 5px;
    background-color: rgb(235, 12, 12);
}

.heroImage{
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.heroImage img{
    width: 120%;
    position: relative;
    top: -90px;
    right: 10px;

}

#menu{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.menuHeading{
    width: 100%;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.menuItems{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    width: 15px;
}

.menuItems li{
    list-style: none;
    min-width: 15%;
    max-width: 15%;
    min-height: 300px;
    padding: 0 0px 10px 0px;
    margin: 0 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    overflow:hidden;
    box-shadow: -2px 2px 10px rgb(224, 224, 224);
}

.mItemPic{
    width: 100%;
    height: 55%;
    margin-bottom: 15px;
}

.mItemPic img{
    width: 100%;

}

.mItemInfo{
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 10px;
}

.addToCart{
    width: 70%;
    height: 50px;
    border-radius: 25px;
    overflow:hidden;
}


.addToCart button{
    width: 100%;
    height: 100%;
    border: none;
    background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
    color: white;
    font-weight: bold;
    font-size: 16px;

}








#popular{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: rgb(255, 243, 243);
    padding: 50px 0;
}

.pHeader{
    width: 100%;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.pCategory{
    width: 50%;
    margin: 0  auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pCategory li{
    list-style: none;
}

.pCategory li button{
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    background: black;
    color: white;
    transition: .1s;
}

.pCategory li button:hover{
    cursor: pointer;
    background-color: rgb(235, 12, 12);
}

.pItems{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.pItems li{
    list-style: none;
    width: 35%;
    height: 150px;
    /* padding: 0 0px 10px 0px; */
    margin: 20px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
    overflow:hidden;
    box-shadow: -2px 2px 10px rgb(224, 224, 224);
}

.pItemImage{
    width: 55%;
    height: 100%;
    overflow: hidden;
    background-color: red;
}

.pItemImage img{
    width: 100%;

}

.pItemInfo{
    width: 40%;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 10px;
}

.pItemRating{
    display: flex;
    letter-spacing: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 139, 7);
    justify-content: space-evenly;
}

.pAddToCartWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pAddToCartWrapper .addToCart{
    width: 55%;
    height: 30px;
    border-radius: 5px;
    overflow:hidden;
    border: none;
    background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#deliver{
    display: flex;
    height: 300px;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.deliverImage{
    width: 100px;
    height: 100px;
    background-color: rgb(248, 163, 6);
}

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 50px;
    box-sizing: border-box;
}

footer p{
    margin: 20px 0;
}