* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

header {
  width: calc(100% - 400px);
  height: 70px;
  padding: 0 25px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: rgb(224, 12, 12);
  position: fixed;
  z-index: 10;
}

/* header::before{
    content: '';
    display: block;
    width: 100%;
} */

.harmburger {
  display: none;
}

header nav {
  width: 60%;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* MAINS */

main {
  width: 100%;
  box-sizing: border-box;
  padding-top: 75px;
}

#hero {
  width: 100%;
  margin: 0 auto;
  height: 550px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.heroText {
  width: 40%;
  box-sizing: border-box;
}

.heroText h2 {
  width: 100%;
  font-size: 50px;
  color: rgb(61, 0, 0);
}

.heroText h2::after {
  position: relative;
  display: block;
  content: "";
  width: 60%;
  height: 5px;
  background-color: rgb(235, 12, 12);
}

.heroImage {
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.heroImage img {
  width: 120%;
  position: relative;
  top: -90px;
  right: 10px;
}

#menu {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.menuHeading {
  width: 100%;
  font-size: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

#menu p {
  text-align: center;
}

#menu p a {
  text-decoration: underline;
  color: black;
}

#menu p a:hover {
  color: rgb(235, 12, 12);
}

.menuItems {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 15px;
}

.menuItems li {
  list-style: none;
  min-width: 15%;
  max-width: 15%;
  min-height: 300px;
  padding: 0 0px 10px 0px;
  margin: 0 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 2px 10px rgb(224, 224, 224);
}

.mItemPic {
  width: 100%;
  height: 55%;
  margin-bottom: 15px;
}

.mItemPic img {
  width: 100%;
}

.mItemInfo {
  margin-bottom: 15px;
  font-size: 14px;
  padding: 0 10px;
}

.addToCart {
  width: 70%;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.addToCart button {
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#popular {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: rgb(255, 243, 243);
  padding: 50px 0;
}

.pHeader {
  width: 100%;
  font-size: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.pCategory {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pCategory li {
  list-style: none;
}

.pCategory li button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  background: black;
  color: white;
  transition: 0.1s;
}

.pCategory li button:hover {
  cursor: pointer;
  background-color: rgb(235, 12, 12);
}

.pItems {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.pItems li {
  list-style: none;
  width: 35%;
  height: 150px;
  /* padding: 0 0px 10px 0px; */
  margin: 20px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 2px 10px rgb(224, 224, 224);
}

.pItemImage {
  width: 55%;
  height: 100%;
  overflow: hidden;
  background-color: red;
}

.pItemImage img {
  width: 100%;
}

.pItemInfo {
  width: 40%;
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 0 10px;
}

.pItemRating {
  display: flex;
  letter-spacing: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 139, 7);
  justify-content: space-evenly;
}

.pAddToCartWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pAddToCartWrapper .addToCart {
  width: 55%;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#deliver {
  display: flex;
  height: 300px;
  width: 85%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.deliverImage {
  width: 100px;
  height: 100px;
  background-color: rgb(248, 163, 6);
}

/* MENU PAGE */

.menuPageMain {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchBarTool {
  margin-left: 30px;
}

.searchBar .searchBox {
  width: 450px;
  height: 35px;
  background-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(107, 107, 107);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.restaurantFilter {
  padding: 5px 5px;
}

.searchButton {
  padding: 10px;
  background-color: rgb(224, 12, 12);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: black;
  color: white;
}
/* 
.searchButton:focus{
    
} */

.menuPageCollectionButton {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.menuPageCollectionButton li {
  list-style-type: none;
  width: 50px;
  background-color: green;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: rgb(235, 12, 12);
  cursor: pointer;
}

.menuPageCollections {
  width: 100%;
  margin-top: 55px;
  display: flex;
  padding: 0 5%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.menuPageCollections .collectionGroup {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.collection {
  width: 25%;
  margin: 0 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection img {
  width: 70%;
}

.collectionImage {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 30px;
}

.collectionName {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.collectionAddToCart {
  width: 45%;
  height: 35px;
  border: none;
  background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  /* transform: scale(1); */
}

.collectionAddToCart:active {
  transform: scale(0.5);
  transition-duration: 0.5s;
}

/* DETAILS PAGE */

.itemDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.itemImage {
  width: 50%;
}

.itemImage img {
  width: 100%;
}

.itemName {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.itemDetailsInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;

  margin: 30px 0;
  font-weight: bold;
}

.itemDetailsInner span {
  font-weight: bold;
  font-size: 18px;
}

.itemDescription {
  width: 100%;
  margin-bottom: 25px;
}

.itemDescription span {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.reviewsSection {
  background-color: rgb(255, 243, 243);
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 80px;
}

.detailsPageReviews {
  margin-bottom: 20px;
  font-size: 25px;
}

.itemReviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
}

.itemReview {
  width: 55%;
  background-color: white;
  box-sizing: border-box;
  padding: 20px 50px;
  margin-bottom: 30px;
}

.itemReview .review {
  margin-bottom: 20px;
}

.reviewer {
  font-style: italic;
  color: rgb(224, 12, 12);
}

.detailsPageRecommendedMenus {
  font-size: 25px;
  margin-bottom: 20px;
}

.recommendedLists {
  display: flex;
  margin-bottom: 50px;
}

.recommendedLists li {
  width: 10%;
  list-style-type: none;
  margin-left: 35px;
}

.recommendedLists li img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
}

.recommendedLists li p {
  text-align: center;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  padding: 50px;
  box-sizing: border-box;
}

footer p {
  margin: 20px 0;
}


/* CONTACT PAGE */

#contactPageMain{
    width: 100%;
    /* height: 100vh; */
}

.contact{
    width: 100%;
    height: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.contactForm{
    width: 35%;
}

.contactForm h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.contact form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgb(226, 226, 226);
    box-sizing: content-box;
}

form label{
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid;
    background-color: rgb(20, 20, 20);
    padding: 0 10px;
    font-size: 15px;
    color: white;
}


form textarea{
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1px solid;
    background-color: rgb(20, 20, 20);
    padding: 10px 10px;
    font-size: 15px;
    color: white;
}

button{
    font-size: 16px;
    padding: 5px 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(192, 10, 10);
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgb(218, 9, 9);
}

button:focus{
    background-color: rgb(149, 7, 7);
}

.contactDetails{
    width: 50%;
    font-size: 16px;
    line-height: 35px;
}



















/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    /* overflow-x: hidden; */
  }

  header {
    width: 100%;
    height: 70px;
    padding: 0 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: rgb(224, 12, 12);
    position: fixed;
    z-index: 10;
  }

  span.harmburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    transition-duration: .5s;
  }

  .harmburger span {
    display: block;
    width: 35px;
    height: 5px;
    margin: 2.5px 0;
    padding: 0;
    background-color: white;
    border-radius: 5px;
  }

  header nav{
    transition-duration: .5s;
    display: none;
  }

  header nav.active {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: white;
    box-sizing: border-box;
    transition-duration: .5s;
  }

  header nav ul {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  header nav ul li {
    list-style: none;
    margin:20px 0;
  }

  nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  /* MAINS */

  main {
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
  }

  #hero {
    width: 100%;
    margin: 0 auto;
    height: 550px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
  }

  .heroText {
    width: 40%;
    box-sizing: border-box;
  }

  .heroText h2 {
    width: 100%;
    font-size: 50px;
    color: rgb(61, 0, 0);
  }

  .heroText h2::after {
    position: relative;
    display: block;
    content: "";
    width: 60%;
    height: 5px;
    background-color: rgb(235, 12, 12);
  }

  .heroImage {
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .heroImage img {
    width: 80%;
    position: relative;
    top: 0px;
    right: 10px;
  }

  #menu {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .menuHeading {
    width: 100%;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  #menu p {
    text-align: center;
  }

  #menu p a {
    text-decoration: underline;
    color: black;
  }

  #menu p a:hover {
    color: rgb(235, 12, 12);
  }

  .menuItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  .menuItems li {
    list-style: none;
    min-width: 40%;
    height: 300px;
    padding: 0 0px 10px 0px;
    margin: 20px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -2px 2px 10px rgb(224, 224, 224);
  }

  .mItemPic {
    width: 100%;
    height: 55%;
    margin-bottom: 15px;
  }

  .mItemPic img {
    width: 100%;
  }

  .mItemInfo {
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 10px;
  }

  .addToCart {
    width: 70%;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
  }

  .addToCart button {
    width: 100%;
    height: 100%;
    border: none;
    background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  #popular {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: rgb(255, 243, 243);
    padding: 50px 0;
    overflow: hidden;
  }

  .pHeader {
    width: 100%;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .pCategory {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .pCategory li {
    list-style: none;
    margin-bottom: 15px;
  }

  .pCategory li button {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    background: black;
    color: white;
    transition: 0.1s;
  }

  .pCategory li button:hover {
    cursor: pointer;
    background-color: rgb(235, 12, 12);
  }

  .pItems {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    flex-wrap: wrap;
  }

  .pItems li {
    list-style: none;
    width: 100%;
    height: 150px;
    /* padding: 0 0px 10px 0px; */
    margin: 20px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -2px 2px 10px rgb(224, 224, 224);
  }

  .pItemImage {
    width: 55%;
    height: 100%;
    overflow: hidden;
    background-color: red;
  }

  .pItemImage img {
    width: 100%;
  }

  .pItemInfo {
    width: 40%;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 10px;
  }

  .pItemRating {
    display: flex;
    letter-spacing: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 139, 7);
    justify-content: space-evenly;
  }

  .pAddToCartWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pAddToCartWrapper .addToCart {
    width: 55%;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  #deliver {
    display: flex;
    height: 300px;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  .deliverImage {
    width: 100px;
    height: 100px;
    background-color: rgb(248, 163, 6);
  }

  /* MENU PAGE */

  .menuPageMain {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .searchBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }


  .searchBar .searchBox {
    width: 300px;
    height: 35px;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(107, 107, 107);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .searchBarTool {
    margin-left: 0;
  }

  .restaurantFilter {
    padding: 5px 5px;
  }

  .searchButton {
    padding:10px;
    background-color: rgb(224, 12, 12);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .searchButton:hover {
    background-color: black;
    color: white;
  }
  /* 
    .searchButton:focus{
        
    } */

  .menuPageCollectionButton {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
  }

  .menuPageCollectionButton li {
    list-style-type: none;
    width: 50px;
    background-color: green;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgb(235, 12, 12);
    cursor: pointer;
  }

  .menuPageCollections {
    width: 100%;
    margin-top: 55px;
    display: flex;
    padding: 0 5%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .menuPageCollections .collectionGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .collection {
    width: 50%;
    margin: 0 0 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .collection img {
    width: 70%;
  }

  .collectionImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
  }

  .collectionName {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .collectionAddToCart {
    width: 60%;
    height: 35px;
    border: none;
    background: linear-gradient(90deg, rgb(133, 4, 4), rgb(250, 48, 48));
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    /* transform: scale(1); */
  }

  .collectionAddToCart:active {
    transform: scale(0.5);
    transition-duration: 0.5s;
  }

  /* DETAILS PAGE */

  .itemDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .itemImage {
    width: 50%;
  }

  .itemImage img {
    width: 100%;
  }

  .itemName {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .itemDetailsInner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;

    margin: 30px 0;
    font-weight: bold;
  }

  .itemDetailsInner span {
    font-weight: bold;
    font-size: 18px;
  }

  .itemDescription {
    width: 100%;
    margin-bottom: 25px;
  }

  .itemDescription span {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }

  .reviewsSection {
    background-color: rgb(255, 243, 243);
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 80px;
  }

  .detailsPageReviews {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .itemReviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
  }

  .itemReview {
    width: 55%;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 50px;
    margin-bottom: 30px;
  }

  .itemReview .review {
    margin-bottom: 20px;
  }

  .reviewer {
    font-style: italic;
    color: rgb(224, 12, 12);
  }

  .detailsPageRecommendedMenus {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .recommendedLists {
    display: flex;
    margin-bottom: 50px;
  }

  .recommendedLists li {
    width: 10%;
    list-style-type: none;
    margin-left: 35px;
  }

  .recommendedLists li img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
  }

  .recommendedLists li p {
    text-align: center;
  }




/* CONTACT PAGE */

#contactPageMain{
    width: 100%;
    /* height: 100vh; */
}

.contact{
    width: 100%;
    height: 100%;
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;

}

.contactForm{
    width: 80%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.contactForm h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.contact form{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgb(226, 226, 226);
    box-sizing: border-box;
}

form label{
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid;
    background-color: rgb(20, 20, 20);
    padding: 0 10px;
    font-size: 15px;
    color: white;
}


form textarea{
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1px solid;
    background-color: rgb(20, 20, 20);
    padding: 10px 10px;
    font-size: 15px;
    color: white;
}

button{
    font-size: 16px;
    padding: 5px 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: rgb(192, 10, 10);
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgb(218, 9, 9);
}

button:focus{
    background-color: rgb(149, 7, 7);
}

.contactDetails{
    width: 90%;
    font-size: 16px;
    line-height: 35px;
}

































  footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 50px;
    box-sizing: border-box;
  }

  footer p {
    margin: 20px 0;
  }
}
